USE [master]
GO
/****** Object:  Database [EVS-407]    Script Date: 9/10/2023 2:53:51 PM ******/
CREATE DATABASE [EVS-407]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVS-407', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EVS-407.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EVS-407_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EVS-407_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVS-407].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVS-407]
GO
USE [EVS-407]
GO
/****** Object:  Schema [lookup]    Script Date: 9/10/2023 2:53:51 PM ******/
CREATE SCHEMA [lookup]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/10/2023 2:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](200) NOT NULL,
	[Department] [nvarchar](200) NOT NULL,
	[RoleNumber] [nvarchar](200) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lookup].[Genders]    Script Date: 9/10/2023 2:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lookup].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [StudentName], [Department], [RoleNumber], [PhoneNumber], [GenderId]) VALUES (2, N'kzHPipX2K5', N'W7rOuJbEM1', N'123', N'srcVgD9fsx', 3)
INSERT [dbo].[Students] ([Id], [StudentName], [Department], [RoleNumber], [PhoneNumber], [GenderId]) VALUES (3, N'us2bGv2h2J', N'It7osFDkiy', N'12322', N'L97OfAiwuo', 3)
INSERT [dbo].[Students] ([Id], [StudentName], [Department], [RoleNumber], [PhoneNumber], [GenderId]) VALUES (4, N'mIVOFw2M7C', N'VfeyUHk9lV', N'1232222', N'v1G40ioHcu', 4)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [lookup].[Genders] ON 

INSERT [lookup].[Genders] ([Id], [GenderName]) VALUES (3, N'male')
INSERT [lookup].[Genders] ([Id], [GenderName]) VALUES (4, N'female')
INSERT [lookup].[Genders] ([Id], [GenderName]) VALUES (5, N'other')
SET IDENTITY_INSERT [lookup].[Genders] OFF
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Genders] FOREIGN KEY([GenderId])
REFERENCES [lookup].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Genders]
GO
USE [master]
GO
